input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.btn {
  margin: 10px 10px 0 65%;
  width: 30%;
  display: block;
  align-items: flex-end;
  border: solid 3px #fff;
  border-radius: 10px;
}

.btn:hover {
  background-color: #935946;
}
